* {
    margin: 0;
    padding: 0;
    font-family: 'Cantarell', sans-serif;
    font-size: 1em;
}

.container{
    width: 70%;
}
aside, header{
    background-color: #2e3848;
    color: #dddfe1;
}
h4{
    font-weight: bold;
    margin: 1em 0;
}
aside h4{
    color: #b33350;
}
main{
    background-color: #fdfbef;
    font-size: 0.93em;
}
.image{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    max-height: 10em;
    position: absolute;
    margin-left: 6em;
    margin-top: 3em;
    z-index: 1;
}
.mainTop, .mainBottom{
    border-right: 1px solid #2e3848;
    border-bottom: 1px solid #2e3848;
}
.contact{
    padding-top: 5em;
}
.contactList, .languageList{
    list-style-type: none;
}
.contactList li p a{
    text-decoration: none;
    color: #fff;
}
.contactList li p a:hover{
    text-decoration: underline;
    color: #3232ff;
}
.contact-icon{
    font-size: 1.4em;
}
li > i{
    margin: auto;
}
.personal, .work-experience, .education{
    width: 88%;
    margin: auto;
}
.borderWork{
    height: 60em;
}
.iconsDiv{
    width: 88%;
    margin: auto;
}
.icons{
    width: 70px;
    height: 70px;
}
.worklist{
    list-style-type: disc;
}
.bg-brown{
    background-color: #b33350;
}
.border-aside{
    height: 1px;
    border: 1px solid #b33350;
    width: 80%;
    margin: auto;
}
.years{
    font-size: 0.9em;
    color: #b31e3c;
}
.border-main, .border-main2{
    height: 1px;
    border: 1px solid #2e3848;
    margin: auto;
}
.border-main{
    width: 80%;
}