* {
    margin: 0;
    padding: 0;
    font-family: 'Cantarell', sans-serif;
    font-size: 1em;
}

.container{
    width: 70%;
}
aside{
    background-color: #2e3848;
    color: #dddfe1;
}
aside h4{
    color: #b33350;
}
.image{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    max-height: 10em;
    position: absolute;
    margin-left: 2.5em;
    margin-top: 3em;
    z-index: 1;
}
.contact{
    padding-top: 5em;
}
.contactList, .languageList{
    list-style-type: none;
}
.personal{
    width: 88%;
    margin: auto;
}
.borderWork{
    height: 60em;
}
.iconsDiv{
    width: 88%;
    margin: auto;
}
.icons{
    width: 100px;
    height: 100px;
}
.worklist{
    list-style-type: disc;
}
.bg-brown{
    background-color: #b33350;
}
.border-language{
    height: 1px;
    border: 1px solid #b33350;
    width: 75%;
    margin: auto;
}
.years{
    color: #b33350;
}